
  <footer class="footer">
    <div class="container-fluid">
      <ul class="nav">
        <li class="nav-item">
          <a target="_blank" href="https://appseed.us/admin-dashboards/django-dashboard-black" class="nav-link">
            Sparkfish Client Portal
          </a>
        </li>
      </ul>
      <div class="copyright">
        <p id="copyrightP" ></p>
      </div>
    </div>
  </footer>
  <script>
    var dateString = (new Date).toDateString();
    dateString = dateString.substr(dateString.length - 4)
    dateString = "©" + dateString + " Sparkfish, All rights & content reserved.";
    document.getElementById("copyrightP").innerHTML =  dateString;
  </script>