{% load static %}

<div class="wrapper">
	<!-- Sidebar -->
	<nav id="sidebar">
		<div class="sidebar-header">
				<h3>Sparkfish Client Portal</h3>
		</div>

		<div class="container-fluid">

				<button type="button" id="sidebarCollapse" class="btn btn-info float-right">
						<i class="fas fa-list"></i>
				</button>

		</div>

		<ul class="list-unstyled components">
			<a target="_blank" href="accounts/login.html">
				<p style="color: #007bff">LOGIN</p>
			</a>
			<hr>
			<li class="active">
				<a class="nav-text" href="/">
					<span><i class="fas fa-cubes nav-icon" style="color:#5e72e4"></i> Dashboard </span>
				</a>
			</li>

			
			<li>
				<a class="nav-text" href="/#">
					<span><i class="fas fa-bell nav-icon" style="color:#fc8b74"></i> Notifications </span>
				</a>
			</li>
			<li>
				<a class="nav-text" href="/status-reports.html">
					<span><i class="fas fa-file-invoice nav-icon" style="color:#22d0f0"></i> Status Reports </span>
				</a>
			</li>
			<li>
				<a class="nav-text" href="/#">
					<span><i class="fas fa-credit-card nav-icon" style="color:#f3a4b5"></i> Payments </span>
				</a>
			</li>
			{% if user.is_superuser %}
			<li>
				<a class="nav-text" href="/admin">
					<span><i class="fas fa-cog nav-icon" style="color:#2dce89"></i> Administration </span>
				</a>
			</li>
			{% endif %}
			<li>
				<a class="nav-text" href="https://drive.google.com/drive/">
					<span><i class="fab fa-google-drive nav-icon" style="color:#4f7dc4"></i> Google Drive </span>
				</a>
			</li>

		</ul>
	</nav>

</div>  

<script src="{% static 'custom/js/sidebar.js' %}"></script>