{% load static %}
<!-- Sidebar -->
<nav id="sidebar" class="sidebar-expanded">
    <div class="sidebar-header">
            <div class="d-flex">
                <h3 class="portal-title">Sparkfish Client Portal</h3>
                <button type="button" id="sidebarCollapse" class="btn btn-info float-right">
                        <i class="fas fa-list"></i>
                </button>
        </div>
    </div>
    <hr>
    <ul class="list-unstyled components">
        <!--<li class="active">-->
        <li id="dashboard" class="active">
            <a href="/">
                <div class="d-flex nav-sec">
                    <i class="fas fa-cubes nav-icon" style="color:#5e72e4"></i>
                    <div class="nav-text">
                        Dashboard
                    </div>
                </div>
            </a>
        </li>
        <!--</li>-->
        <li id="notifications">
            <a href="/#">
                <div class="d-flex nav-sec">
                    <i class="fas fa-bell nav-icon" style="color:#fc8b74"></i>
                    <div class="nav-text">
                        Notifications
                    </div>
                </div>
            </a>
        </li>
        <li id="status">
            <a href="/status-reports">
                <div class="d-flex nav-sec">
                    <i class="fas fa-file-invoice nav-icon" style="color:#22d0f0"></i>
                    <div class="nav-text">
                        Status Reports
                    </div>
                </div>
            </a>
        </li>
        <li id="payments">
            <a href="/#">
                <div class="d-flex nav-sec">
                    <i class="fas fa-credit-card nav-icon" style="color:#f3a4b5"></i>
                    <div class="nav-text">
                        Payments
                    </div>
                </div>
            </a>
        </li>
        {% if user.is_superuser %}
        <li id="admin">
            <a href="/admin">
                <div class="d-flex nav-sec">
                    <i class="fas fa-cog nav-icon" style="color:#2dce89"></i>
                    <div class="nav-text">
                        Administration
                    </div>
                </div>
            </a>
        </li>
        <li id="run">
            <a class="nav-text" href="/run-reports">
                <div class="d-flex nav-sec">
                    <i class="fas fa-list nav-icon" style="color:#7ca50b"></i>
                    <div class="nav-text">
                        Run Reports
                    </div>
                </div>
            </a>
        </li>
        {% endif %}
        <li id="gdrive">
            <a href="https://drive.google.com/drive/">
                <div class="d-flex nav-sec">
                    <i class="fab fa-google-drive nav-icon" style="color:#4f7dc4"></i>
                    <div class="nav-text">
                        Google Drive
                    </div>
                </div>
            </a>
        </li>
    </ul>
</nav>
{% block javascripts %}
	<script src="{% static 'custom/js/sidebar.js' %}"></script>
{% endblock javascripts %}