sparkfish-client-portal/core/__pycache__/settings.cpython-38.pyc
sparkfish-client-portal/core/__pycache__/urls.cpython-38.pyc
sparkfish-client-portal/db.sqlite3
sparkfish-client-portal/requirements.txt
sparkfish-client-portal/app/__pycache__/__init__.cpython-38.pyc
sparkfish-client-portal/app/__pycache__/admin.cpython-38.pyc
sparkfish-client-portal/app/__pycache__/models.cpython-38.pyc
sparkfish-client-portal/app/__pycache__/urls.cpython-38.pyc
sparkfish-client-portal/app/__pycache__/views.cpython-38.pyc
sparkfish-client-portal/app/migrations/__pycache__/__init__.cpython-38.pyc
sparkfish-client-portal/authentication/__pycache__/__init__.cpython-38.pyc
sparkfish-client-portal/authentication/__pycache__/forms.cpython-38.pyc
sparkfish-client-portal/authentication/__pycache__/urls.cpython-38.pyc
sparkfish-client-portal/authentication/__pycache__/views.cpython-38.pyc
sparkfish-client-portal/core/__pycache__/__init__.cpython-38.pyc
sparkfish-client-portal/core/__pycache__/settings.cpython-37.pyc
sparkfish-client-portal/core/__pycache__/settings.cpython-38.pyc
sparkfish-client-portal/core/__pycache__/urls.cpython-38.pyc
sparkfish-client-portal/core/__pycache__/views.cpython-38.pyc
sparkfish-client-portal/core/__pycache__/wsgi.cpython-38.pyc
