{% extends 'layouts/base.html' %}

{% block title %} UI Notifications {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
{% if user.is_authenticated %}


<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Basic Call to Trello's API</h4>
      </div>
      {% for each in board_data%}
      <div class="card-body">
        <div class="alert alert-info">
          <span>{{each.id}} - {{each.name}}</span>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  </div>

{% endif%}
{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
