{% extends 'layouts/base.html' %}

{% block title %} Page User {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<h2>Add a New Client</h2>
<form action="{% url 'upload-pic' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
    Enter Client Name
    <p>
        <input id="client_name" name="client_name" type="text">
    </p>
    Upload logo image
    <p>
        <input id="id_image" type="file" class="" name="image">
    </p>
    <input type="submit" value="Submit" />
</form>
<h2>Manage Clients</h2>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
