{% extends 'layouts/base.html' %}
{% load static %}

{% block title %} Page Blank {% endblock %}

{% block content %}

{% block stylesheets %}
  <link href="{% static 'custom/css/status-reports.css' %}" rel="stylesheet" />
{% endblock stylesheets %}


<div class="row">
  <div class="card card-profile">
    <div class="card-body">
      <div class="col-xl-10 pb-5">
        <h1>{{ board_name }}</h1>
        {% for each in status_data%}
        {% if each.idx == '1' %}
        <input class="checkbox-budget" type="radio" name="status" id="status-{{ each.idx }}" checked>
        {% else %}
        <input class="checkbox-budget" type="radio" name="status" id="status-{{ each.idx }}" >
        {% endif %}
        <label class="for-checkbox-budget" for="status-{{ each.idx }}">
          <span>{{ each.week }}</span>
        </label>
        
        {% endfor %}
      </div>
      {% for each in status_data%}
      <div id="statusReport-{{each.idx}}" style="display:none" >
        <h2>{{each.report_header}} </h2>

          {%for rep in each.report%}
            Time spent on {{rep.id}} - {{rep.name}}:    <b>{{rep.hours}}</b><br>
          {% endfor %}
        
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% block javascripts %}
	<script src="{% static 'custom/js/status.js' %}"></script>

{% endblock javascripts %}


{% endblock content %}


