{% extends 'layouts/base.html' %}
{% load static %}

{% block title %} Page Blank {% endblock %}

{% block content %}

{% block stylesheets %}
  <link href="{% static 'custom/css/status-reports.css' %}" rel="stylesheet" />
{% endblock stylesheets %}


<div class="row">
  <div class="card card-profile">
    <div class="card-body">
      <div class="col-xl-10 pb-5">
        <h1>{{ board_name }}</h1>
        {% for each in status_data%}
        {% if each.idx == '1' %}
        <input class="checkbox-budget status" type="radio" name="status" id="status-{{ each.idx }}" onclick="showStatus();" checked>
        {% else %}
        <input class="checkbox-budget status" type="radio" name="status" id="status-{{ each.idx }}" onclick="showStatus();">
        {% endif %}
        <label class="for-checkbox-budget" for="status-{{ each.idx }}">
          <span>{{ each.week }}</span>
        </label>
        
        {% endfor %}
      </div>
      
    </div>
  </div>
</div>

<div class="row">
  <div class="card card-profile">
    <div class="card-body">

    {% for each in status_data%}
      <div id="statusReport-{{each.idx}}" style="display:none" >
        <h2>{{each.report_header}} </h2>

        <table class="table table-hover">
          <thead>
            <tr>
              <td>Task</th>
              <th>Hours Spent This Week</th>
            </tr>
          </thead>
          <tbody>
            {%for rep in each.report%}
            <tr>
              <td>{{ rep.id }} - {{ rep.name }}</td>
              <td class="text-info" style="color: #1d8cf8"><b>{{ rep.hours }}</b></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% endfor %}
    </div>
  </div>
</div>
{% block javascripts %}
  <script src="{% static 'custom/js/status.js' %}"></script>
  <script>
    sidebarDashElem = document.getElementById('dashboard');
    sidebarDashElem.classList.remove('active');
    sidebarElem = document.getElementById('status');
    sidebarElem.classList.add('active');
  </script>

{% endblock javascripts %}


{% endblock content %}


