

    <div class="sidebar">
      <div class="sidebar-wrapper">
        
        <div class="logo">
          <a target="_blank" href="accounts/login.html" class="simple-text">
            LOGIN
          </a>
        </div>

        {% if user.is_authenticated %}
        <ul class="nav">
          <li>
            <a href="/ui-notifications.html">
              <i class="tim-icons icon-bell-55"></i>
              <p>DASHBOARD</p>
            </a>
          </li>
          <li class="active ">
            <a href="/">
              <i class="tim-icons icon-chart-pie-36"></i>
              <p>INVOICES</p>
            </a>
          </li>
          <li>
            <a href="/ui-icons.html">
              <i class="tim-icons icon-atom"></i>
              <p>DOCUMENTS</p>
            </a>
          </li>
          <li>
            <a href="https://drive.google.com/drive/">
              <i class="tim-icons icon-pin"></i>
              <p>GOOGLE DRIVE</p>
            </a>
          </li>

        </ul>
        {% endif %}
        
      </div>
    </div>
