

    <div class="sidebar">
      <div class="sidebar-wrapper">
        
        {% if not user.is_authenticated %}
        <div class="logo">
          <a target="_blank" href="accounts/login.html" class="simple-text">
            LOGIN
          </a>
        </div>
        {% endif %}

        {% if user.is_authenticated %}
        <ul class="nav">
          <li>
            <a href="/">
              <i class="tim-icons icon-components"></i>
              <p>Dashboard</p>
            </a>
          </li>
          <li>
            <a href="/page-blank.html">
              <i class="tim-icons icon-bell-55"></i>
              <p>Notifications</p>
            </a>
          </li>
          <li>
            <a href="/status-reports.html">
              <i class="tim-icons icon-paper"></i>
              <p>Status Reports</p>
            </a>
          </li>
          <li>
            <a href="/page-blank.html">
              <i class="tim-icons icon-credit-card"></i>
              <p>Payments</p>
            </a>
          </li>
          <li>
            <a href="/page-blank.html">
              <i class="tim-icons icon-settings-gear-63"></i>
              <p>Administration</p>
            </a>
          </li>
          
          <li>
            <a href="https://drive.google.com/drive/">
              <i class="tim-icons icon-app"></i>
              <p>GOOGLE DRIVE</p>
            </a>
          </li>

        </ul>
        {% endif %}
        
      </div>
    </div>
