{% extends 'layouts/base.html' %}

{% block title %} Page Blank {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="card card-profile">
                <div class="card-body">
                    <h2>Status Report</h2>
                        <ul>
                            <li>we did this</li>
                            <li>we did that</li>
                            <li>we got something done</li>
                        </ul>
                    <p><b>Percentage of authorized hours (x) for Month Year to date: (hours/x)%</b></p>
                    <p>If you have any questions or concerns about anything in this status report, please let us know.</p>
                    Regards,<br>
                    Sparkfish Team
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card card-profile">
                <div class="card-body">
                    <h2>My Customers</h2>

                    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">
                    
                    <table id="myTable">
                      <tr class="header">
                        <th style="width:60%;">Name</th>
                        <th style="width:40%;">Country</th>
                      </tr>
                      <tr>
                        <td>Alfreds Futterkiste</td>
                        <td>Germany</td>
                      </tr>
                      <tr>
                        <td>Berglunds snabbkop</td>
                        <td>Sweden</td>
                      </tr>
                      <tr>
                        <td>Island Trading</td>
                        <td>UK</td>
                      </tr>
                      <tr>
                        <td>Koniglich Essen</td>
                        <td>Germany</td>
                      </tr>
                      <tr>
                        <td>Laughing Bacchus Winecellars</td>
                        <td>Canada</td>
                      </tr>
                      <tr>
                        <td>Magazzini Alimentari Riuniti</td>
                        <td>Italy</td>
                      </tr>
                      <tr>
                        <td>North/South</td>
                        <td>UK</td>
                      </tr>
                      <tr>
                        <td>Paris specialites</td>
                        <td>France</td>
                      </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    


    <script>
        function myFunction() {
          var input, filter, table, tr, td, i, txtValue;
          input = document.getElementById("myInput");
          filter = input.value.toUpperCase();
          table = document.getElementById("myTable");
          tr = table.getElementsByTagName("tr");
          for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
              txtValue = td.textContent || td.innerText;
              if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
              } else {
                tr[i].style.display = "none";
              }
            }       
          }
        }
    </script>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
